body {
	background-color: black;
}

div.parent{
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	overflow-y: scroll;
}

 .navtabs{
	 margin-left: 15%;
	 margin-right: 15%;
 }

/* this begins the HOME photo design*/

.header{
	position: relative;
	display: inline-block;
	width: 100%;
}

.homeimage{
	display: block;
	width: 100%;
	height: 95%;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
	right: 0;
  transform: translate(, -50%);
  color: #333337;
	font-size-adjust: 50%;
  text-align: center;
	line-height: 2.0em;
	font-weight: bold;
}

.paragraph1{
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin-left:15%;
	margin-right:15%;
	font-weight: bolder;
  padding-top: 2.0em;
}

/* this begins the HOME flexbar design*/

 .navsections{
	 display: flex;
	 flex-flow: row || wrap;
	 justify-content: center;
	 align-items: center;
	 align-content: space-around;
	 font-family: 'Nunito', sans-serif;
	 margin-left:15%;
	 margin-right:15%;
	 padding-top: 2%;
 }

.column{
	flex-grow: 1;
	width: 100%;
	align-self: baseline;
	margin: 20px;
}

.column-image{
	position: relative;
	width: 100%;
}

.column-title{
	left: 0;
	right: 0;
	transform: translate(, -50%);
	color: black;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	font-weight: lighter;
	background: white;
	padding: 10px;
}

/* this begins the BIO tab design*/

.biophoto{
	width: 100%;
	height: 100%;
}

/* this begins the WORK tab design*/

.workphoto{
	width: 100%;
	height: 100%;
}

/* this begins the TRAVEL tab design*/

.travelphoto{
	width: 100%;
	height: 100%;
}
