body {
	background-color: #F5F5F5;
}

div.parent{
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	text-anchor: ;
	overflow-y: scroll;
}
 .navtabs{
	 margin-left: 20%;
	 margin-right: 20%;
 }

.header{
	position: relative;
	height: 100%;
	width: 100%;
}

.homeimage{
	position: relative;
	width: 100%;
	height: 95%;
}

.title {
  position: absolute;
  top: 50%;
  left: 30%;
  /*transform: translate(-50%, -50%);*/
  color: white;
  text-align: center;
	line-height: 2.0em;
}

.paragraph1{
	margin-left:20%;
	margin-right:20%;
	font-weight: bolder;
}

 .navsections{
	 margin-left:20%;
	 margin-right:20%;
	 padding-top: 5%;
	 padding-bottom: 5%
 }

.column-left{
	float: left;
	width: 33%;
	font-weight: bold;
}

.column-center{
	display: inline-block;
	width: 33%;
	font-weight: bold;
}

.column-right{
	float: right;
	width: 33%;
	font-weight: bold;
}
